--extra-index-url https://alpine-wheels.github.io/index
aiogram==2.25.2
aiohttp[speedups]==3.14.1
yt-dlp @ git+https://github.com/TommasoAmici/yt-dlp.git@8b1300495d856dca08526db25144f21ea6a7a096
uvloop==0.20.0
asyncpraw==7.7.1
